<div class="container mt-5">
  <!-- Header -->
  <header class="text-center bg-primary text-white py-3 rounded">
    <h2>Universidad Nariño</h2>
  </header>

  <!-- Content -->
  <div class="text-center mt-4">
    <h3 class="text-success">Enfermedades Cardiovasculares</h3>
    <button routerLink="/main" class="btn btn-lg btn-success mt-3">
      Empezar
    </button>
    <section style="margin-top: 20px">
      <div class="card mb-3">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Computacion Grafica</h5>
          <p class="card-text">{{ texto() }}</p>
          <p class="card-text">
            <small class="text-body-secondary"
              ><span>{{ hora }}</span></small
            >
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
