<div class="card d-flex flex-column align-items-center justify-content-center   " style="width: 60rem;">
    <div class="card-body">
 
      <div class="container d-flex flex-column align-items-center py-5">
        <form action="" class="was-validated text-center">
            <div class="row border">
                <div class="col-12">
                    <div class="bg-primary text-white text-center py-3">
                        <h1>Registro de Salud</h1>
                    </div>
                </div>
                <section
                class="d-flex flex-column align-items-center py-5" 
                >
                    <div class="col-4">
                        <label class="form-label" for="nombreCompleto">Nombre Completo:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="nombreCompleto" 
                            name="nombreCompleto" 
                            placeholder="Escribe tu nombre completo" 
                            required>
                        <div class="invalid-feedback">
                            Por favor, escribe tu nombre completo.
                        </div>
                        <div class="valid-feedback">
                            ¡Correcto!
                        </div>
                    </div>
                    <!-- programa academico -->
                    <div class="col-4">
                        <label class="form-label" for="programaAcademico">Programa Académico:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="programaAcademico" 
                            name="programaAcademico" 
                            placeholder="Escribe tu programa académico" 
                            required>
                        <div class="invalid-feedback">
                            Por favor, escribe tu programa académico.
                        </div>
                        <div class="valid-feedback">
                            ¡Correcto!
                        </div>
                    </div>
                    <!-- Fecha -->
         
                    <div class="col-4">
                        <label class="form-label" for="fechaRegistro">Fecha:</label>
                        <input 
                            type="date" 
                            class="form-control" 
                            id="fechaRegistro" 
                            name="fechaRegistro" 
                            required>
                        <div class="invalid-feedback">
                            Por favor, selecciona una fecha.
                        </div>
                        <div class="valid-feedback">
                            ¡Correcto!
                        </div>
                    </div>
                    <!-- fecha -->
                    <div class="col-4">
                        <label class="form-label" for="lstAntecedentes">Antecedentes:</label>
                        <select class="form-select" id="lstAntecedentes" name="antecedente" required>
                            <option value="1">Si</option>
                            <option value="2">No</option>
                            <option value="3">No sabe</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, seleccione un tipo de antecedente.
                        </div>
                        <div class="valid-feedback">
                            ¡Correcto!
                        </div>
                    </div>
                     <!-- Cargar la lista de los tipos de antecedentes -->
             
                    <div class="col-4">
                        <label class="form-label" for="lstAntecedentes">Antecedentes:</label>
                        <select class="form-select" id="lstAntecedentes" name="antecedente" required>
                            <option value="1">Si</option>
                            <option value="2">No</option>
                            <option value="3">No sabe</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, seleccione un tipo de antecedente.
                        </div>
                        <div class="valid-feedback">
                            ¡Correcto!
                        </div>
                    </div>  
               <div>
                <a 
                routerLink="/formulario">Siguiente</a>
               </div>
                </section>
    </div>
  
